.ConfigPopup {
    width: 350px; height: max-content;
    padding: 10px;
    position: absolute;
    margin-left: 1400px;
    background-color: var(--header-color); border-radius: 5px;
    box-shadow: 0px 3px 10px 0px var(--shadow-color);
    display: block; visibility: hidden;
}

.ConfigPopup .Userfield {
    width: 100%; height: max-content;
    display: flex; align-items: center;
    padding: 10px; gap: 10px;
    text-decoration: none;
    color: var(--primary-text-color); border-radius: 5px;
}

.ConfigPopup .Userfield:hover {
    background-color: var(--header-second-color);
}

.ConfigPopup .Userfield .UserPicture {
    width: 50px; height: 40px;
    color: var(--primary-icons-color);
    padding: 10px; background-color: var(--header-second-color); border-radius: 100%;
}

.ConfigPopup .Userfield .UserTexts {
    margin-left: 10px;
}

.ConfigPopup .Userfield .UserTexts .UserName {
    font-weight: bolder;
}

.ConfigPopup .Userfield .UserTexts .UserFieldDescription {
    color: var(--secundary-text-color);
}

.ConfigPopup .HRConfigPopup {
    opacity: 0.5;
    margin-top: 10px; margin-bottom: 10px;
    width: 100%; height: 1px;
}

/* */

.ConfigPopup .Feedbackfield {
    width: 100%; height: max-content;
    display: flex; align-items: center;
    padding: 10px; gap: 10px;
    text-decoration: none;
    color: var(--primary-text-color); border-radius: 5px;
}

.ConfigPopup .Feedbackfield:hover {
    background-color: var(--header-second-color);
}

.ConfigPopup .Feedbackfield .FeedbackPicture {
    width: 22px; height: 20px;
    padding: 10px; background-color: var(--shadow-color); border-radius: 100%;
}

.ConfigPopup .Feedbackfield .FeedbackTexts {
    font-size: 14px; margin-left: 10px;
}

.ConfigPopup .Feedbackfield .FeedbackTexts .FeedbackName {
    font-weight: bolder;
}

.ConfigPopup .Feedbackfield .FeedbackTexts .FeedbackFieldDescription {
    color: var(--primary-icons-color);
}

/* */

.ConfigPopup .ColorSchemeAndTranslate {
    width: 100%; height: max-content;
    display: flex; align-items: center;
    text-decoration: none;
    color: var(--primary-text-color); border-radius: 5px;
}

.ConfigPopup .ColorSchemeAndTranslate .ColorModeButton {
    width: 50%; height: max-content;
    display: flex; align-items: center;
    padding: 10px; gap: 10px;
    text-decoration: none;
    color: var(--primary-text-color); border-radius: 5px;
    cursor: pointer;
}

.ConfigPopup .ColorSchemeAndTranslate .ColorModeButton:hover {
    background-color: var(--header-second-color);
}

.ConfigPopup .ColorSchemeAndTranslate .ColorModeButton .ColorModePicture {
    width: 30px; height: 20px;
    max-width: 30px; max-height: 20px;
    padding: 10px; background-color: var(--shadow-color); border-radius: 100%;
}

.ConfigPopup .ColorSchemeAndTranslate .ColorModeButton .ColorModeTexts {
    font-size: 14px; height: 100%;
    display: flex; align-items: center; justify-content: center;
}

.ConfigPopup .ColorSchemeAndTranslate .ColorModeButton .ColorModeTexts .ColorModeName {
    font-weight: bolder; font-size: 16px;
    color: var(--primary-text-color);
    width: max-content;
}

.ConfigPopup .ColorSchemeAndTranslate .ColorModeButton .Margin {
    right: 100px;
}