/* ESTILO QUE SERÁ APLICADO EM TABLETS */
@media screen and (max-width: 1024px) {
    
}

/* ESTILO QUE SERÁ APLICADO EM DESKTOPS */
@media screen and (min-width: 1024px) {
    .body {
        background-color: var(--background-color);
    }

    .header {
        background-color: var(--header-color);
        width: 100%; height: 50px;
        padding: 0px 0px 0px 25px;
        display: flex;
        align-items: center; text-align: center;
        box-shadow: 0px 0px 10px 0.5px var(--box-shadow);
    }

    .header .HomeButton {
        width: 35px; height: 35px;
        margin-right: 10px;
    }

    .header .Search {
        width: 35px; height: 35px;
        background-color: var(--header-second-color); border-radius: 100vh;
        align-items: center; text-align: center; justify-content: center;
    }
    .header .Search .SearchIcon {
        width: 20px; height: 20px;
        color: var(--hover-icons-color);
        padding: 7.5px;
    }
}