/* ESTILO QUE SERÁ APLICADO EM TABLETS */
@media screen and (max-width: 1024px) {
    
}

/* ESTILO QUE SERÁ APLICADO EM DESKTOPS */
@media screen and (min-width: 1024px) {
    .body {
        background-color: var(--background-color);
    }

    .header {
        background-color: var(--header-color);
        width: 100%; height: 50px;
        padding: 0px 25px 0px 25px;
        display: flex;
        align-items: center; text-align: center;
        box-shadow: 0px 0px 10px 0.5px var(--box-shadow);
    }

    .header .HomeButton {
        width: 35px; height: 35px;
        margin-right: 10px;
    }

    .header .Search {
        width: 35px;
    }

    .header .Search .SearchBackground {
        width: 35px; height: 35px;
        margin-top: 7.5px;
        background-color: var(--header-second-color); border-radius: 100vh;
        justify-content: center; align-items: center; text-align: center;
        transition: 0.3s;
        display: flex;
    }

    .header .Search .SearchButton {
        cursor: pointer; padding: 7.5px; 
    }

    .header .Search .SearchIcon {
        width: 20px; height: 20px;
        color: var(--hover-icons-color);
    }
    .header .Search .SearchInput {
        width: 125px; height: 75%;
        margin-left: 15px; margin-top: 1px;
        background: none; outline: none; border: none;
        display: none; transition: .3s;
    }

    .header .Feeds {
        width: 250px; align-self: center;
        padding-top: 5px; padding-bottom: 5px; margin-left: 30%; margin-right: 30%;
        justify-content: center; align-items: center; text-align: center;
        display: flex;
    }

    .header .Feeds .Timeline {
        width: 75px;
        margin-left: 2.5px; margin-right: 2.5px;
        padding-top: 3px;
        border-bottom: 2px solid var(--primary-color); border-radius: 5px;
    }

    .header .Feeds .Timeline:hover {
        background-color: var(--header-second-color); border-radius: 5px;
        cursor: pointer;
    }

    .header .Feeds .Timeline .TimelineIcon {
        width: 32px; height: 32px;
        color: var(--primary-icons-color);
    }

    .header .Feeds .Favorites {
        width: 75px;
        margin-left: 2.5px; margin-right: 2.5px;
        padding-top: 3px;
        border-radius: 5px;
    }

    .header .Feeds .Favorites:hover {
        background-color: var(--header-second-color); border-radius: 5px;
        cursor: pointer;
    }

    .header .Feeds .Favorites .FavoritesIcon {
        width: 32px; height: 32px;
        color: var(--primary-icons-color);
    }
}