/* Customização de toda a página */
* { text-align: center; align-items: center;}
body { background-color: #F0F0F0; }

/* CSS DA BARRA DE FERRAMENTAS */
.toolbar {
     display: inline-block;
     margin-top: 10px;}
     
.tool-list {
     display: flex;
     list-style: none;
     padding: 10px;
     margin: 1rem;
     overflow: hidden;
     border-radius: 3px;
     box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.tool {
     display: block;
     border: none;
     padding: 5px;
     font-size: 20px;
 }
button { border: 1px solid silver; border-radius: 5px; width: 70px; height: 50px; cursor: pointer;}
i { padding: 5px; align-items: center;}

 /* CSS DA ÁREA DE CRIAÇÃO */
.boards {
     align-items: flex;
     margin-top: 10px; margin-left: auto; margin-right: auto;
     padding-left:30px; padding-right:30px; padding-bottom:50px; padding-top: 50px;
     width: 90%; height: auto; min-height: 150px;
     margin-top: 32px;
     background: #FFFFFF;
     border-radius: 1px;
     box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.textmodule{
     width: 600px; height: 30px;
     padding:5px;
     margin-left: auto; margin-right: auto;;
     background-color: none;}

/* SELECIONADO */
.paragraph:hover{
    border: 1px solid blue;
    border-radius: 5px;
}
