/* ESPAÇO PARA VARIÁVEIS */
:root {
    /* CORES */
    --primary-color: #D88B1B;

    /* TEXTOS */

    --primary-text-color: black;
    --secundary-text-color: gray;
    --placeholder-color: gray;

    /* CORPO DA PÁGINA */

    --background-color: rgb(245, 245, 245);
    --shadow-color: rgb(200, 200, 200);

    /* BARRA DE NAVEGAÇÃO */

    --header-color: white;
    --header-second-color: rgb(230, 230, 230);
    --primary-icons-color: gray;
    --hover-icons-color: #333333;
}